{% extends 'base.html' %}

{% block content %}
    <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop homepage template</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br><br>
                        <p align="justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus semper lacus nulla, eu bibendum odio dictum id. Phasellus et leo nec velit blandit aliquam vel in sapien. Morbi eu feugiat ante. In tortor quam, pellentesque eu elit suscipit, pellentesque vestibulum nunc. Ut a lectus vitae nisl varius gravida. Morbi tempus euismod laoreet. Pellentesque interdum a dui quis ullamcorper. Fusce venenatis nec orci in vulputate. Vestibulum nec ipsum rhoncus, rhoncus nibh nec, sollicitudin orci.
                            <br><br>
Donec non aliquam risus, sit amet blandit metus. Nunc mattis tortor et pulvinar vestibulum. Suspendisse blandit ligula nec purus tempor, cursus venenatis ipsum varius. Aliquam vel enim scelerisque, vehicula nisi et, porta purus. Maecenas placerat sem non ligula egestas imperdiet. Pellentesque eget justo ultricies, ornare lectus eget, iaculis nisl. Sed sed interdum magna, sed convallis odio. Curabitur lacus tortor, commodo id accumsan bibendum, sodales eget dui. Vivamus semper diam in velit eleifend porta. Nunc ultricies fringilla velit, auctor vehicula quam accumsan eu. In posuere blandit nisi in maximus. Nam massa tellus, dictum at urna eget, sollicitudin vehicula orci. Vivamus posuere, est in volutpat tristique, velit quam aliquam leo, vitae dictum ante enim in lacus. Sed ut ipsum facilisis, ornare risus et, pulvinar risus.
                            <br><br>
Praesent a elit sollicitudin, lobortis ante ut, eleifend ipsum. Cras non felis ac augue lacinia vehicula. Etiam eget libero ligula. Vestibulum pharetra placerat neque eget consectetur. Vivamus eget bibendum mi. Quisque commodo faucibus lacus in imperdiet. Duis sem felis, ultrices quis leo sit amet, fringilla auctor arcu. Ut scelerisque consequat enim ac aliquam. Morbi non sodales leo. Etiam eu orci pulvinar, gravida urna sed, placerat diam. Vestibulum in leo sit amet mi varius congue quis ac neque. Sed sit amet pharetra est, sit amet luctus lacus. Curabitur elementum, velit eu posuere consequat, ante tellus placerat nulla, sed molestie ex ante at ex. Quisque ultrices, nulla at sodales finibus, mauris odio venenatis felis, finibus vestibulum quam metus non enim.
                        </p>
                        <br><br>
                    </div>
                </center>
            </div>
        </div>



{% endblock %}
